<h1><%= @owner.name.upcase %></h1>
<h3>Home</h3>
<p>Welcome to the home of <%= @owner.name %></p>
<p>iPet Chicago believes one size does NOT fit all. We offer customized dog walking, vacation care, and other services to meet your pet’s unique needs. Whether your pet is shy or spirited, young or old, in the pink or under the weather, our goal is to provide care that’s just right for your furry friend.</p>
<p>I was born on <%= @owner.birthdate %></p>
<p> Only <%= @owner.countdown %> days until my birthday! </p>
