<% content_for :title do %>About<%end %>
<h1>About the World Cup </h1>
<h2> Luis Suarez potential ban from the tournament</h2>
<p>Suarez is facing elimination from the world cup after biting an italian player</p>
<a href= "/" >home</a>
