<% content_for :title do %>About<%end %>
<h1>Our Founder </h1>
<p>Diego Leon started iPet Chicago in 2009 to offer a customized approach to pet care. He noticed that most pet services had standard offerings that didn’t consider each pet’s unique temperament or needs. Diego saw an opportunity to serve a wide range of pets, even those with behavior challenges or health concerns.</P>
<p>Diego is a lifelong pet owner who has supplemented his personal experience with advanced training. In 2012, he completed CanineLink’s Training and Career Academy, an intensive six-month program covering animal behavior, training, and pet business practices. Through the Academy, he strengthened his knowledge of animal body language, multi-pet household dynamics, life stages, and obedience training. Diego loves sharing his expertise with pet owners so they can have great relationships with their animal companions.</p>

<p>Prior to starting iPet Chicago, Diego worked in banking, an industry that values customer service and attention to detail. Diego brings that work ethic to iPet Chicago, providing a level of professionalism that pet owners expect from all their service providers.</p>
<a href= "/" >home</a>
